-
    let sites = ['noah', 'weg', 'work', 'vision']
    let site = 'noah'
    let subsite = false
    let description = 'Noah Horlacher auf Github'
    let tiltit = {"data-tilt": "true", "data-tilt-glare": "true", "data-tilt-maxGlare": ".5", "data-tilt-max": "10"}
    let footer = true
    let breadcrumbs = true

block var

doctype html
html(lang="de")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible" content="ie=edge")
        meta(name="description" content=description)

        title noah#{site!="noah" ? (subsite? ` — ${site} > ${subsite}` : ` — ${site}`) : ''}
        link(rel="stylesheet" href="/css/style.min.css")

    body
        header
            nav
                a(href="/" class=(site=='noah'?'active':'')) noah
            nav
                a(href="/weg" class=(site=='weg'?'active':'')) weg
                a(href="/work" class=(site=='work'?'active':'')) work
                a(href="/vision" class=(site=='vision'?'active':'')) vision

        if subsite && breadcrumbs
            container.breadcrumbs
                a(href='/'+site)=site
                strong  > #{subsite}

        block content
        
        script(src="/js/components.js")
        script(src="/js/tilt.js")

        block scripts

        if footer != false
            footer
                a(href="#top")